body{
    background: linear-gradient(to left, blue,white)
}
h1{
    text-align: center;
}

p{
    border: inset;
    color: gold;
}

table{
    width: 100px;
    border-collapse: collapse;

}
